@media (max-width: 767px) {
  /* Adjust font sizes for smaller screens */
  h1 {
    font-size: 24px;
  }

  body {
    font-size: 16px;
  }

  /* Adjust input area for smaller screens */
  .input-area {
    width: 100%;
  }

  .input-content {
    flex-direction: column;
    width: inherit;
    gap: 32px;
  }

  .content-output {
    margin-top: 0;
  }

  .input-box {
    flex-direction: column;
    gap: 16px;
    width: inherit;
  }

  .input {
    font-size: 16px;
    max-width: inherit;
    width: 100%;
  }

  .dash {
    display: none;
  }

  .button {
    width: 100%;
    font-size: 16px;
  }

  .reset-div {
    width: 100%;
  }
}